{% extends "base.html" %}
{% block title %}О компании - МедДиагностика{% endblock %}

{% block content %}
    <h1 class="mb-4">О компании</h1>

    <!-- История компании -->
    <section class="mb-5">
        <h2>История компании</h2>
        <p>
            Компания "МедДиагностика" была основана в 2010 году с целью предоставления высококачественных медицинских услуг населению.
            За время своей работы мы выросли от небольшой лаборатории до одного из лидеров в сфере диагностики и профилактической медицины.
            Мы внедряем современные технологии, привлекаем опытных специалистов и всегда стремимся к улучшению качества обслуживания пациентов.
        </p>
    </section>

    <!-- Миссия и ценности -->
    <section class="mb-5">
        <h2>Миссия и ценности</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Миссия:</strong> Содействовать сохранению здоровья населения через доступную и точную диагностику.</li>
            <li class="list-group-item"><strong>Ценности:</strong></li>
            <ul class="ms-4 mt-2">
                <li>Клиентоориентированность</li>
                <li>Научная обоснованность решений</li>
                <li>Профессионализм и этичность</li>
                <li>Инновационное развитие</li>
            </ul>
        </ul>
    </section>

    <!-- Команда врачей -->
    <section>
        <h2>Наша команда врачей</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://img.freepik.com/free-photo/portrait-professional-medical-worker-posing-picture-with-arms-folded_1098-19293.jpg?semt=ais_hybrid&w=740"  alt="Фото врача" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Доктор Иванова Анна Петровна</h5>
                        <p class="card-text">Главный терапевт. Опыт работы — 18 лет. Специализируется на внутренних болезнях и профилактической медицине.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://img.freepik.com/free-photo/close-up-health-worker_23-2149112510.jpg?ga=GA1.1.1733768158.1749466303&semt=ais_hybrid&w=740"  alt="Фото врача" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Доктор Смирнов Андрей Николаевич</h5>
                        <p class="card-text">Врач ультразвуковой диагностики, эксперт по клинической диагностике. Руководитель лаборатории, специалист в области УЗИ внутренних органов, щитовидной железы, молочных желёз и сосудистого русла. Имеет высшую квалификационную категорию и многолетний опыт практической работы. Автор научных публикаций и участник профильных конференций.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <img src="https://img.freepik.com/free-photo/portrait-beautiful-female-doctor_329181-1420.jpg?semt=ais_hybrid&w=740
"  alt="Фото врача" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Доктор Козлова Екатерина Сергеевна</h5>
                        <p class="card-text">Врач-xк. Занимается интерпретацией результатов ДНК-тестов и разработкой индивидуальных программ профилактики заболеваний.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}